*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    border: none;  
}

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
  letter-spacing: -.05rem;
}

/* rtl:end:remove */

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

/* body{
    width: 100%;
    height: 100%;
}

.form-control-dark {
  border-color: var(--bs-gray);
}

.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
  background: black;
}
.d-flex{
    flex:wrap;
    align-items:center;
    justify-content:center; 
    justify-content: baseline;
}

.d-flex a{
    align-items:center; 
    margin-bottom: 2px; 
    color:white;
    text-decoration:none;
    border: none;
    margin-right: 5px;
}
.d-flex h2{
    align-items:center; 
    margin-bottom: 2px; 
    color:goldenrod;
    text-decoration:none;
    font-size: 10vh;
    font-weight: 100px;
    border: none;
    margin-right: 30%;
    font-weight: 500%;
}

.logo{
    width: 10%;
    border-radius: 10px;
    /* border: transparent; */
    /* box-shadow: none; */
    /* margin-left:  -10%;
    cursor: pointer;
    margin-top: -10px;
    
}

ul .nav{
    -ms-layout-grid: auto;
    margin-bottom: 2px;
    border: none;
    background: none;
}

li a .nav-link{
    color: black;
}

ul li .nav-item{
    border: none;
    padding: 2;
}
 */


/* .header .nav-item{
    font-size: 100%;
    font-weight: 2px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    margin-left: -10px;
    margin-left: 100px;
    margin-top: 700px;
    justify-content: center;

}

img {
    margin:  50px auto ;
    align-items: center;
    margin-top: 40px;
    /* display:flexbox; */
    /* border-radius: 50%;
    width: 20%;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),-5px -5px 15px rgba(0, 0, 0, 0.2); 
    border: transparent;
    margin-bottom: 1px;
    margin-left: 1px;
    /* justify-content:flex-start; */
/* } */ 

/* h4{
    margin-top: 80%;
    margin: 10%;
    margin-bottom: 30%;
    font-family:Helvetica, sans-serif;
}


p{
    margin: 10%;
} */


/* image, .img-fluid:nth-child(1){
    height: 50%; */
    /* width: 20%; 
    /* float:right; */
    /* margin-top: 15%;
    margin-right: 10%;
    margin-bottom: 10px;

} */ 

/* #dog{
    float: right;
    margin-bottom: 200px 0 ;
    margin-top: -10px;
}

.home{
    float:right;
    margin-bottom: 20%;
}

image, .img-fluid:nth-child(2){
    margin-top: 2%;
    margin-right: 10%;
    margin-bottom: 20px;
    height: 70%;
    float: right;

}

.features{
    float: right    ;
    float:right;
    margin-top: 2%;
    margin-right: 10%;
    margin-bottom: 50px;

}

img, .img-fluid:nth-child(3){
   float:right;
    margin-top: 2%;
    margin-right: 10%;
    margin-bottom: 50px;
    height: 60%;

}

img, .img-fluid:nth-child(4){
    float:left;
    margin-top: 2%;
    margin-right: 10%;
    margin-bottom: 50px;
    height: 50%;

}

img, .img-fluid:nth-child(5){
    float:right;
    margin-top: 2%;
    margin-right: 10%;
    margin-bottom: 50px;
    height: 90%;

}

img:nth-child(6){
    float:left;
    margin-top: 30%;
    margin-right: 5%;
    margin-bottom: 50px;
    height: 50%;
    display: block;
} */ 

























/* .logo{
    width: 10%;
    border-radius: 10px;
    border: transparent;
    box-shadow: none;
    margin-left:  -6%;
    cursor: pointer;
    margin-top: -10px;
    
}

li, a{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #333;
    text-decoration: none;
    border:5px solid rgba(255, 255, 255, 0.1);

    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;

}

.navbar{
    list-style: none;

}

.navbar li{
    display: inline-block;
    padding: 0 20px;
    background: transparent;
    margin-right: 10px;
}

.navbar li a{
    transition: all 0.3s ease 0s;
}

.navbar li a:hover{
    color: aquamarine;
}


.flexbox{
    position:absolute ;
    margin-top: 10px;
    margin-left: 500px;
    margin-right: 400px;
    font-size: 15px;
    background: none;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: transparent;
    border-radius: 20px;
    border:5px solid rgba(255, 255, 255, 0.1);

    
}


h1{
    font-size: 100%;
    font-weight: 2px;
    font-style: italic;
    margin-left: -10px;
    margin-left: 100px;
    margin-top: -5%;

}

h2{
    font-size: 30px;
    font-family:fantasy;
    margin-top: 10px;
    /* margin-bottom: 15px; */
    /* font-stretch: extra-expanded;
    color: goldenrod;
    border: none;
    
}
.header{
    margin-left: -425px;
}

img{
    margin:  50px auto ;
    align-items: center;
    margin-top: 50px;
    border-radius: 50%;
    width: 30%;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),-5px -5px 15px rgba(0, 0, 0, 0.2); 
    border: transparent;
    margin-bottom: 10px;
    margin-left: 1%;
} */

/* .flexbox .form button{
    
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),-5px -5px 15px rgba(0, 0, 0, 0.2);
    border:5px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin-left: -40px;
    width: 450px;
    font-size: 50px;
    margin-top: 10px;
    position: relative;
    outline: none;
   

}
.form button  a{
    text-decoration: none;
    margin: 20px;
    width: 60px;
    background-color: transparent;
    cursor: pointer;
    color: black;
    font-size: 60px;
    font-weight: 500;
    border: none;
    

}

#login{
    background: linear-gradient(to right, yellow, purple);
    background-repeat: no-repeat;
    border: transparent;
}

#signup{
    background: linear-gradient(to right, yellow, purple);
    margin-bottom: 10px;
    background-repeat: no-repeat;
    border: transparent;



  
}

a:hover{
    
    transition: .5s;
    color:antiquewhite;
    text-transform:lowercase;

} */



/* Firstpage end */
/*  */
/* Footer begins */

/* footer end */

